<div style="border: white;background-color: white;">
    Drag a column here to group by that column
</div>

<div class="row" *ngIf="rowData && rowData.length>0">
    <div class="col-md-6">
        <span class="ng-binding">
            Viewing {{startElement}} to {{endElement}} of {{rowDataLength}} checksheets
        </span>
    </div>
    <div class="col-md-6 text-right">
        Show:
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-default"
                [ngClass]="{'active':paginationPageSize == 10 && loadAll == false}"
                (click)="changePagination(10)">10</button>
            <button type="button" class="btn btn-default"
                [ngClass]="{'active':paginationPageSize == 25 && loadAll == false}"
                (click)="changePagination(25)">25</button>
            <button type="button" class="btn btn-default" [ngClass]="{'active':loadAll == true}"
                (click)="showAll()">All</button>
        </div>
    </div>
</div>

<div *ngIf="rowData && rowData.length>0 && paginationPageSize != rowDataLength">
    <div class="table">
        <div>
            <ag-grid-angular style="width: 100%;height: 400px;" 
            class="ag-theme-balham" [rowData]="rowData"
            [columnDefs]="gridOptions.columnDefs"
            [defaultColDef]="defaultColDef"
            [gridOptions]="gridOptions" 
            (gridReady)="onGridReady($event)"> </ag-grid-angular>
            <ul class="pagination" *ngIf="noOfPages>1">
                <li (click)="onBtFirst()" [ngClass]="{'disabled': currentPage == 0}">
                    <a>First</a>
                </li>
                <li (click)="onBtPrevious()" [ngClass]="{'disabled': currentPage == 0}">
                    <a>Previous</a>
                </li>
                <li *ngIf="showLeftEllipse" (click)="constructOldArray()">
                    <a>...</a>
                </li>
                <ng-container *ngFor="let page of pageArray; let i = index">
                    <li [ngClass]="{'active': currentPage == page-1}">
                        <a (click)="onGoToPage(page-1)">{{page}}</a>
                    </li>
                </ng-container>
                <li *ngIf="noOfPages>10 && showRightEllipse" (click)="constructNewArray()">
                    <a>...</a>
                </li>
                <li (click)="onBtNext()" [ngClass]="{'disabled': currentPage == (noOfPages-1)}">
                    <a>Next</a>
                </li>
                <li (click)="onBtLast()" [ngClass]="{'disabled': currentPage == (noOfPages-1)}">
                    <a>Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>