<h1 style="font-size: 40px; margin-top: 20px;">
  <span class="glyphicon glyphicon-floppy-save" style="color: #419137;font-size: 40px;"></span> Import Data</h1>


<div class="d-flex justify-content-between flex-basis">

  <button style="width: 300px;font-size: 0.75rem;height: 40px;
        background-color: #007bff;border-color: #007bff;color: #fff;" type="button" class="btn">Clear Down
    Database
  </button>
  <button style="width: 300px;font-size: 0.75rem;height: 40px;
        background-color: #007bff;border-color: #007bff;color: #fff;" type="button" class="btn">Prevent Clear
    Down Database
  </button>
  <button style="width: 300px;font-size: 0.75rem;height: 40px;
        background-color: #007bff;border-color: #007bff;color: #fff;" type="button" class="btn">Get All Import
    Sheets
  </button>
  <button style="width: 300px;font-size: 0.75rem;height: 40px;
        background-color: #007bff;border-color: #007bff;color: #fff;" type="button" class="btn">Export All
  </button>

</div>

<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="font-size: 0.75rem;">
  <li class="nav-item">
    <a class="nav-link active" id="database-tab" data-toggle="tab" href="#database" role="tab" aria-controls="database"
      aria-selected="true">Database Hierarchy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="document-tab" data-toggle="tab" href="#document" role="tab" aria-controls="document"
      aria-selected="false">Documents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ptn-tab" data-toggle="tab" href="#ptn" role="tab" aria-controls="ptn"
      aria-selected="false">Punchlists, TQs and NCRs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="workpack-tab" data-toggle="tab" href="#workpack" role="tab" aria-controls="workpack"
      aria-selected="false">Workpacks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="uc-tab" data-toggle="tab" href="#uc" role="tab" aria-controls="uc"
      aria-selected="false">Users and Community</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane active" id="database" role="tabpanel" aria-labelledby="database-tab">

    <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;">

      <div class="tab-content clearfix">
        <div class="row" style="display: block;padding-left: 0px;padding-right: 0px;margin-right: 0px;margin-left: 0px;">

          <div class="row" style="padding-left: 0px;padding-right: 0px;margin-right: 0px;margin-left: 0px;">

            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Units'"
              [glyphicon]="'glyphicon-glass'"></app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Systems'"
              [glyphicon]="'glyphicon-leaf'"></app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'SubSystems'"
              [glyphicon]="'glyphicon-book'"></app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Locations'"
              [glyphicon]="'glyphicon-briefcase'"></app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Areas'"
              [glyphicon]="'glyphicon-tower'"></app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'SubAreas'"
              [glyphicon]="'glyphicon-tree-conifer'"></app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Types'" [glyphicon]="'glyphicon-hourglass'">
            </app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Sub Types'" [glyphicon]="'glyphicon-th-list'">
            </app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Tags'" [glyphicon]="'glyphicon-tags'">
            </app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Tags Custom Data'" [glyphicon]="'glyphicon-glass'">           
            </app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Tag Components'" [glyphicon]="'glyphicon-object-align-right'">
            </app-table>

          </div>

        </div>
      </div>

    </div>

  </div>
  <div class="tab-pane" id="document" role="tabpanel" aria-labelledby="document-tab">

    <div class="col-sm-12">

      <div class="tab-content clearfix">

        <div class="row" style="display: block;">

          <div class="row">

            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Checksheet Masters'"
              [glyphicon]="'glyphicon-glass'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Preservation Masters'"
              [glyphicon]="'glyphicon-leaf'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Drawings'"
              [glyphicon]="'glyphicon-book'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Check Matrix'"
              [glyphicon]="'glyphicon-briefcase'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Pres Matrix'"
              [glyphicon]="'glyphicon-tower'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Drawing Matrix'"
              [glyphicon]="'glyphicon-tree-conifer'"></app-table>
            <app-table (dataImportedEvent)="renderGrid($event)" [table]="'Checksheet Items'"
              [glyphicon]="'glyphicon-th-list'"></app-table>

          </div>

        </div>


      </div>

    </div>

  </div>
  <div class="tab-pane" id="ptn" role="tabpanel" aria-labelledby="profile-tab">

    <div class="col-sm-12">

      <div class="tab-content clearfix">


        <div class="row" style="display: block;">

          <div class="row">

            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Punchlists'"
              [glyphicon]="'glyphicon-hourglass'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Punch Common Items'"
              [glyphicon]="'glyphicon-grain'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Technical Queries'"
              [glyphicon]="'glyphicon-glass'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'NCRs'"
              [glyphicon]="'glyphicon-object-align-right'"></app-table>

          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="tab-pane" id="workpack" role="tabpanel" aria-labelledby="workpack-tab">

    <div class="col-sm-12">

      <div class="tab-content clearfix">

        <div class="row" style="display: block;">

          <div class="row">

            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Workpacks'"
              [glyphicon]="'glyphicon-hourglass'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Workpack Tags'"
              [glyphicon]="'glyphicon-grain'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Workpack ITRs/FTRs'"
              [glyphicon]="'glyphicon-glass'"></app-table>

          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="tab-pane" id="uc" role="tabpanel" aria-labelledby="uc-tab">

    <div class="col-sm-12">

      <div class="tab-content clearfix">

        <div class="row" style="display: block;">

          <div class="row">

            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Responsible Groups'"
              [glyphicon]="'glyphicon-hourglass'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Responsible People'"
              [glyphicon]="'glyphicon-grain'"></app-table>
            <app-table class="pt-5" (dataImportedEvent)="renderGrid($event)" [table]="'Qualifications'"
              [glyphicon]="'glyphicon-glass'"></app-table>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-sm-12">

    <ag-grid-angular style="width: 100%; height: 250px;" class="ag-theme-balham" [rowData]="rowData"
      [columnDefs]="columnDefs">
    </ag-grid-angular>

  </div>

</div>