

.img-thumbnail {
	text-align: center;
    height: 150px;
    margin-top: 20px;
}

.category {

    font-size: 30px;
    margin-top: 5px;
    margin-left: 30px;
}

.action {
	font-size: 15px;
}

h5 {
    color:black;
}



