<p>SMT</p>
<form>

    <div
        style="border: 1px solid ;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px;margin-top: 15px;margin-bottom: 15px;">

        <div class="row" style="padding-top: 15px;">
            <div class="col">
                <div class="form-group">
                    <label for="enstagno">ENS TAG NO.</label>
                    <input type="text" class="form-control" id="enstagno">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="rfidno">RFID NO. </label>
                    <input type="text" class="form-control" id="rfidno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="legacytagno">LEGACY TAG NO.</label>
                    <input type="text" class="form-control" id="legacytagno">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="oemserialno">OEM SERIAL NO. </label>
                    <input type="text" class="form-control" id="oemserialno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="clienttagno.">CLIENT TAG NO. </label>
                    <input type="text" class="form-control" id="clienttagno">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="oemtagno">OEM TAG NO. </label>
                    <input type="text" class="form-control" id="oemtagno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="equipmentdescription">EQUIPMENT DESCRIPTION</label>
                    <input type="text" class="form-control" id="equipmentdescription">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="oemdrawingno">OEM DRAWING NO. </label>
                    <input type="text" class="form-control" id="oemdrawingno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="system-sub-systemno">SYSTEM / SUB-SYSTEM NO. </label>
                    <input type="text" class="form-control" id="system-sub-systemno">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="location">LOCATION </label>
                    <input type="text" class="form-control" id="location">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="subsystemdescription">SUB-SYSTEM DESCRIPTION</label>
                    <input type="text" class="form-control" id="subsystemdescription">
                </div>
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="layoutdrawingno">LAYOUT DRAWING NO. </label>
                    <input type="text" class="form-control" id="layoutdrawingno">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="areacode">AREA CODE </label>
                    <input type="text" class="form-control" id="areacode">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="legacydrawingno">LEGACY DRAWING NO. </label>
                    <input type="text" class="form-control" id="legacydrawingno">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="dateprinted">DATE PRINTED </label>
                    <input type="text" class="form-control" id="dateprinted">
                </div>
            </div>
        </div>

    </div>

    <div
        style="border: 1px solid ;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px;margin-top: 15px;margin-bottom: 15px;">

        <div class="row" style="padding-top: 15px;">
            <div class="col">
                <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>
                    <input type="text" class="form-control" id="manufacturer">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="certifyingauthority">Certifying Authority </label>
                    <input type="text" class="form-control" id="certifyingauthority">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="model-type">Model/Type</label>
                    <input type="text" class="form-control" id="model-type">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="certificationno">Certification No </label>
                    <input type="text" class="form-control" id="certificationno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="serialnumber">Serial Number </label>
                    <input type="text" class="form-control" id="serialnumber">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="equipmentcategoryandepl">Equipment Category and EPL </label>
                    <input type="text" class="form-control" id="equipmentcategoryandepl">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="areaiprequirement">Area IP Requirement </label>
                    <input type="text" class="form-control" id="areaiprequirement">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="equipmentiprating">Equipment IP Rating </label>
                    <input type="text" class="form-control" id="equipmentiprating">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="areaclassification">Area Classification </label>
                    <input type="text" class="form-control" id="areaclassification">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="equipmentextechnique">Equipment Ex Technique </label>
                    <input type="text" class="form-control" id="equipmentextechnique">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="areagasgroup">Area Gas Group</label>
                    <input type="text" class="form-control" id="areagasgroup">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="equipmentgasgroup">Equipment Gas Group </label>
                    <input type="text" class="form-control" id="equipmentgasgroup">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="areatemperatureclass ">Area Temperature Class </label>
                    <input type="text" class="form-control" id="areatemperatureclass">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="equipmenttemperatureclass">Equipment Temperature Class </label>
                    <input type="text" class="form-control" id="equipmenttemperatureclass">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exregisterno">Ex Register No. </label>
                    <input type="text" class="form-control" id="exregisterno">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="equipmentambienttemperature">Equipment Ambient Temperature </label>
                    <input type="text" class="form-control" id="equipmentambienttemperature">
                </div>
            </div>
        </div>

    </div>

    <div
        style="border: 1px solid ;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px;margin-top: 15px;margin-bottom: 15px;">
        <div style="padding-top: 15px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th colspan="8" scope="col">ITEMS TO BE CHECKED</th>
                        <th scope="col">YES</th>
                        <th scope="col">NO</th>
                        <th scope="col">N/A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let check of checks">
                        <th scope="row">{{check.id}}</th>
                        <td colspan="8" >{{check.name}}</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name={{check.id}} id="inlineRadio1" value="option1"
                                (click)="pushNext()">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name={{check.id}} id="inlineRadio2" value="option2"
                                (click)="showPunchList(check.id-1)">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name={{check.id}} id="inlineRadio3" value="option3"
                                (click)="pushNext()">
                            </div>
                        </td>         
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered" *ngIf="punchListVisible">
                <thead>
                    <tr>
                        <th scope="col">Item No</th>
                        <th colspan="8" scope="col">Description of Punch Item</th>
                        <th scope="col">Punchlist Type Code</th>
                        <th scope="col">Category (A/B/C) </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let punch of punchList">
                        <th scope="row">{{punch.id}}</th>
                        <td colspan="8">{{punch.description}}</td>
                        <td>{{punch.typeCode}}</td>
                        <td>{{punch.category}}</td>    
                    </tr>
                </tbody>
            </table>

        </div>



    </div>


</form>