<form>
    <div class="d-flex justify-content-between"
        style="padding-top: 5px;padding-bottom: 5px;border: 1px solid;height: 60px;background-color: #007bff;color:#fff">
        <div style="padding-left: 5px;">
            <span style="font-size: 50px;" class="action glyphicon glyphicon-object-align-right">&nbsp;</span>
        </div>
        <div style="padding-top: 15px;">
            Construction Check Sheet – A ITR EX– CERTIFIED EQUIPMENT’S
        </div>
        <div style="padding-right: 5px;padding-top: 15px;">
            Electrical E22A
        </div>
    </div>

    <div
        style="border: 1px solid ;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px;margin-top: 15px;margin-bottom: 15px;">


        <div class="row" style="padding-top: 15px;">
            <div class="col">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="ens-tag-no" style="width: 20rem;">Ens Tag No.</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="ens-tag-no">
                </div>

            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="rfidno" style="width: 20rem;">RFID No. </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="rfidno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="legacytagno" style="width: 20rem;">Legacy Tag No.</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="legacytagno">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="oemserialno" style="width: 20rem;">OEM Serial No. </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="oemserialno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="clienttagno" style="width: 20rem;">Client Tag No. </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="clienttagno">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="oemtagno" style="width: 20rem;">OEM Tag No. </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="oemtagno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="equipmentdescription" style="width: 20rem;">Equipment
                            Description </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="equipmentdescription">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="oemdrawingno" style="width: 20rem;">OEM Drawing No. </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="oemdrawingno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="system-sub-systemno" style="width: 20rem;">System /
                            Sub-System No. </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="system-sub-systemno">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="location" style="width: 20rem;">Location </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="location">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="subsystemdescription" style="width: 20rem;">Sub-System
                            Description </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="subsystemdescription">
                </div>
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="layoutdrawingno" style="width: 20rem;">Layout Drawing No.
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="layoutdrawingno">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="areacode" style="width: 20rem;">Area Code </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="areacode">
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:15px;">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="legacydrawingno" style="width: 20rem;">Legacy Drawing No.
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="legacydrawingno">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="dateprinted" style="width: 20rem;">Date Printed </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="dateprinted">
                </div>
            </div>
        </div>

    </div>
    <pre style="margin:6px;font-size: 0.75rem;">
                    Notes: 1) Inspection criteria based on Yinson Ex Compliance Plan for guidance on achieving compliance with IEC60079-14 and 17.
                    2) Initial Detailed Ex Inspections shall only be performed by Qualified Ex Inspection Personal.</pre>


    <div style="border: 1px solid ;padding:5px;
        margin-left: 5px;margin-right: 5px;margin-top: 15px;margin-bottom: 15px;font-size: 1rem;
        background-color: #007bff;color:#fff;line-height: 2;">
        Required Detail for Ex Certified Equipment:
    </div>

    <div
        style="border: 1px solid ;padding-left: 15px;padding-right: 15px;margin-left: 5px;margin-right: 5px;margin-top: 15px;margin-bottom: 15px;">

        <div class="row" style="padding-top: 15px;">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="manufacturer" style="width: 20rem;">Manufacturer </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="manufacturer">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="certifyingauthority" style="width: 20rem;">Certifying
                            Authority </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="certifyingauthority">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="model-type" style="width: 20rem;">Model/Type </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="model-type">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="certificationno" style="width: 20rem;">Certification No
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="certificationno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="serialnumber" style="width: 20rem;">Serial Number </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="serialnumber">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="equipmentcategoryandepl" style="width: 20rem;">Equipment
                            Category and EPL </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="equipmentcategoryandepl">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="areaiprequirement" style="width: 20rem;">Area IP Requirement
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="areaiprequirement">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="equipmentiprating" style="width: 20rem;">Equipment IP Rating
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="equipmentiprating">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="areaclassification" style="width: 20rem;">Area Classification
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="areaclassification">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="equipmentextechnique" style="width: 20rem;">Equipment Ex
                            Technique </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="equipmentextechnique">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="areagasgroup" style="width: 20rem;">Area Gas Group </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="areagasgroup">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="equipmentgasgroup" style="width: 20rem;">Equipment Gas Group
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="equipmentgasgroup">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="areatemperatureclass" style="width: 20rem;">Area Temperature
                            Class </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="areatemperatureclass">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="equipmenttemperatureclass" style="width: 20rem;">Equipment
                            Temperature Class </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="equipmenttemperatureclass">
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:15px;">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="exregisterno" style="width: 20rem;">Ex Register No. </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="exregisterno">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="equipmentambienttemperature" style="width: 20rem;">Equipment
                            Ambient Temperature </span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="equipmentambienttemperature">
                </div>
            </div>
        </div>

    </div>

    <div style="border: 1px solid ;
        padding:5px;
        margin-left:5px;
        margin-right: 5px;">
        <div style="margin-left:10px;margin-right: 10px;margin-top: 10px;">
            <table class="table table-bordered">
                <thead style="padding:0px;margin: 0px;line-height: 1rem;">
                    <tr style="background-color: #007bff;color:#fff;font-size: 0.75rem;">
                        <th style="font-weight: normal;" scope="col">No.</th>
                        <th style="font-weight: normal;" colspan="8" scope="col">Items To Be Checked</th>
                        <th style="font-weight: normal;" scope="col">Yes</th>
                        <th style="font-weight: normal;" scope="col">No</th>
                        <th style="font-weight: normal;" scope="col">N/A</th>
                    </tr>
                </thead>

                <tbody>

                    <ng-container [formGroup]="checkSheetForm" (ngSubmit)="saveCheckSheet()">
                        <ng-container formArrayName="checkListArray">
                            <ng-container *ngFor="let check of checkListArray.controls;let i=index">

                                <tr *ngIf="check.value.lineNo==0" [formGroupName]="i" style="font-size: 0.75rem;">

                                    <td colspan="20" style="font-weight: bold;">{{check.value.group}}</td>

                                </tr>

                                <tr *ngIf="check.value.lineNo!=0" [formGroupName]="i" style="font-size: 0.75rem;">

                                    <th scope="row">{{check.value.lineNo}}</th>
                                    <td colspan="8">{{check.value.description}}</td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" 
                                            name="yes" id="inlineRadio1" 
                                            value="option1" formControlName="yes" (click)="pushNext()">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" 
                                            name="no" id="inlineRadio2" 
                                            value="option2" formControlName="no" 
                                            (click)="viewPunchList(check.value.lineNo, check.description)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" 
                                            name="na" id="inlineRadio3" 
                                            value="option3" formControlName="na" (click)="pushNext()">
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>

            <div class="row">

                <div class="col-sm-6 m-b-xs">

                    <button type="button" class="btn btn-primary btn-block"
                        (click)="saveCheckSheet()">{{ 'Save' }}</button>

                </div>

                <div class="col-sm-6">

                    <button class="btn btn-dark btn-block" type="button" (click)="close()">{{ 'Cancel' }}</button>

                </div>
            </div>
        </div>
    </div>
</form>