    <h1 style="font-size: 20px;margin-top: 20px;">
      <span class="glyphicon glyphicon-floppy-saved" style="color: #419137;font-size: 40px;"></span> Project Information</h1>
  
    <div class="row tasks-grid" style="margin-top: 30px;margin-bottom: 30px;">
      <!-- Add capabilities -->
  
      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3" >
        <a routerLink="unit">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-th-list">&nbsp;</span>
            <div class="caption">
              <h3>Unit</h3>
              <p>View / Add / Edit Units</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3" >
        <a routerLink="questions">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-glass">&nbsp;</span>
            <div class="caption">
              <h3>System</h3>
              <p>View / Add / Edit Systems</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3" >
        <a routerLink="lookup-values">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-leaf">&nbsp;</span>
            <div class="caption">
              <h3>SubSystem</h3>
              <p>View / Add / Edit SubSystems</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="location">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-book">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">Location</h3>
              <p>View / Add / Edit Locations</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-briefcase">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">Areas</h3>
              <p>View / Add / Edit Areas</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-tower">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">Sub Areas</h3>
              <p>View / Add / Edit Sub Areas</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="type">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-tree-conifer">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">Types</h3>
              <p>View / Add / Edit Types</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-hourglass">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">SubTypes</h3>
              <p>View / Add / Edit SubTypes</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="discipline">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-grain">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">Discipline</h3>
              <p>View / Add / Edit Disciplines</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="tagGroup">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-object-align-right">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">Tag Group</h3>
              <p>View / Add / Edit Tag Groups</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-oil">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">WorkPack Type</h3>
              <p>View / Add / Edit WorkPack Types</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-globe">&nbsp;</span>
            <div class="caption">
              <h3 class="ca_act">CheckSheet Type</h3>
              <p>View / Add / Edit CheckSheet Types</p>
            </div>
          </div>
        </a>
      </div>
  
  
    </div>
