
.category {

    font-size: 80px;
    margin-top: 20px;
    margin-left: 80px;
}



.caption {
    font-size: 10px;
    margin-top: 20px;
    margin-left: 80px;
}


.thumbnail {
    text-align: center;
}

