    <h1 style="font-size: 20px;margin-top: 20px;">
      <span class="glyphicon glyphicon-floppy-saved" style="color: #419137;font-size: 40px;"></span> Project Information</h1>
  
    <div class="row tasks-grid" style="margin-top: 10px;margin-bottom: 30px;">
      <!-- Add capabilities -->
  
      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3" >
          <div class="img-thumbnail">
            <a routerLink="unit">
            <span class="category glyphicon glyphicon-th-list">&nbsp;</span>
            <div class="caption">
              <h5>Unit</h5>
              <p>View / Add / Edit</p>
            </div>
          </a>
          </div>
      </div>
  
      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3" >
        <a routerLink="questions">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-glass">&nbsp;</span>
            <div class="caption">
              <h5>System</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3" >
        <a routerLink="lookup-values">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-leaf">&nbsp;</span>
            <div class="caption">
              <h5>SubSystem</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="location">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-book">&nbsp;</span>
            <div class="caption">
              <h5>Location</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-briefcase">&nbsp;</span>
            <div class="caption">
              <h5>Areas</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-tower">&nbsp;</span>
            <div class="caption">
              <h5>Sub Areas</h5>
              <p>View / Add / Edit Sub</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="type">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-tree-conifer">&nbsp;</span>
            <div class="caption">
              <h5>Types</h5>
              <p>View / Add / Edit Types</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-hourglass">&nbsp;</span>
            <div class="caption">
              <h5>SubTypes</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="discipline">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-grain">&nbsp;</span>
            <div class="caption">
              <h5>Discipline</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="tagGroup">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-object-align-right">&nbsp;</span>
            <div class="caption">
              <h5>Tag Group</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-oil">&nbsp;</span>
            <div class="caption">
              <h5>WorkPack Type</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3">
        <a routerLink="points">
          <div class="img-thumbnail">
            <span class="category glyphicon glyphicon-globe">&nbsp;</span>
            <div class="caption">
              <h5>CheckSheet Type</h5>
              <p>View / Add / Edit</p>
            </div>
          </div>
        </a>
      </div>
  
  
    </div>
