.filterContainer {
    background-color: white;
    // border-radius: 3px;
    padding: 0px 0px;
    // overflow-x: scroll;
    // border: 1px solid #e6e4e4;
    min-height: 22px;
    margin-top: 0px;
    label {
      color: #252525;
      font-weight: normal;
      margin-top: 6px;
    }
    .arrow_style {
      position: relative;
      bottom: 5px;
      left: 0px;
      height: 15px;
      color: #337ab7;
      cursor: pointer;
    }
    .arrow_style:hover {
      color: green;
    }
  }
  
  .button_style {
    float: left;
    margin: 0 10px 0 0;
  }
  
  .reset_block {
    display: inline;
  }
  
  .button_wrapper {
    margin: 2% 0 0 0;
    p {
      cursor: pointer;
      line-height: 20px;
      color: #419137;
      font-size: 14px;
      font-weight: bold;
    }
  }
  
    
  span.glyphicon.glyphicon-refresh {
    margin-right: 10px;
    color: #419137;
    font-size: 14px;
    font-weight: bold;
    display: inline;
    cursor: pointer;
  }
  
  .hide_label {
    font-size: 14px;
    margin: 5px 10px 0 0;
    height: 30px;
  }
  
 
  .expendCollapse {
    padding-bottom: 10px;
  }
  
  .expendCollapse .filterheading {
    color: #419137;
    font-size: 20px;
    font-weight: bold;
    display: block;
    cursor: pointer;
  }
  
  .glyphicon {
    top: 4px;
  }
  
  .glyphicon.glyphicon-chevron-up {
    right: 4px;
  }
  
  .box-center {
    padding-left: 11%;
  }


  ::ng-deep .multiselect-dropdown > .dropdown-list {
    width: 400px !important;
    position: fixed !important;
  }
  
  ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    background: #007bff !important;
    border: #007bff !important;
    color: #fff !important;
  }
  
  ::ng-deep .multiselect-dropdown span.placeholderLabel {
    background: #007bff !important;
    border: #007bff !important;
    color: #fff !important;
  }
  
  ::ng-deep .multiselect-dropdown .btn .selected-item a {
    color: #fff !important;
  }
  
  ::ng-deep .multiselect-dropdown .btn .selected-item:hover {
    color: #007bff;
    box-shadow: #007bff !important;
    -webkit-box-shadow: #007bff !important;
  }
  