<h6 style="color: #dc3545;margin-top:-30px;margin: 0px -15px;font-size: 1.25rem">
    Outstanding Checksheets  
</h6>

<div class="row" style="margin: 6px -27px;font-size: 1.25rem">

    <div class="col-3">

        <div
            style="padding: 5px 24px;color: #fff;background-color: #007bff;display: block;margin-top: 5px;text-align: center;">
            <span>Show Location</span>
        </div>

        <div
            style="padding: 5px 24px;color: #fff;background-color: #007bff;display: block;margin-top: 5px;">


            <div class="d-flex">

                <span class="flex-grow-1">Description</span>
                <a><span class="glyphicon glyphicon-refresh">&nbsp;</span></a>
                <a><span class="glyphicon glyphicon glyphicon-folder-open">&nbsp;</span></a>

            </div>

        </div>

        <div style="overflow-y: scroll;">

            <div>
                <kendo-treeview [nodes]="data" textField="text" kendoTreeViewExpandable kendoTreeViewSelectable
                    kendoTreeViewHierarchyBinding childrenField="items" [(expandedKeys)]="expandedKeys">
                </kendo-treeview>
            </div>

        </div>

    </div>

    <div class="col-9">

        <div class="d-flex justify-content-between flex-basis">

            <button style="width: 130px;" type="button" class="btn btn-secondary">Refresh 
            </button>
      
            <button style="width: 130px;" type="button" class="btn btn-secondary">Tag Details 
            </button>

            <button style="width: 130px;" type="button" class="btn btn-secondary">Add Sel To New FCR
            </button>
            <button style="width: 130px;" type="button" class="btn btn-secondary">Mark Sel Complete
            </button>
            <button style="width: 130px;" type="button" class="btn btn-secondary">Export
            </button>
            <button style="width: 130px;" type="button" class="btn btn-secondary">Reset Grid
            </button> 
        </div>

        <app-cheetsheets-filter (submit)="onSubmit($event)"></app-cheetsheets-filter>
        <app-cheetsheets-grid></app-cheetsheets-grid>

    </div>

</div>