<h1 style="font-size: 40px; margin-top: 20px;">
    <span class="glyphicon glyphicon-stats" style="color: #419137;font-size: 40px;"></span> Check Sheets</h1>

<div class="row" style="margin: 6px -27px;font-size: 1.25rem">

    <div class="col-3">
<!-- 
        <div
            style="padding: 5px 24px;color: #fff;background-color: #007bff;display: block;margin-top: 5px;text-align: center;">
            <span>Show Location</span>
        </div> -->

        <div
            style="padding: 5px 24px;color: #fff;background-color: #007bff;display: block;margin-top: 4px;">


            <div class="d-flex" style="font-size: 1.5rem;">

                <span class="flex-grow-1">Show Location</span>
                <a><span class="glyphicon glyphicon-refresh">&nbsp;</span></a>
                <a><span class="glyphicon glyphicon glyphicon-folder-open">&nbsp;</span></a>

            </div>

        </div>

        <div style="overflow-y: scroll;">

            <div>
                <kendo-treeview [nodes]="data" textField="text" kendoTreeViewExpandable kendoTreeViewSelectable
                    kendoTreeViewHierarchyBinding childrenField="items" [(expandedKeys)]="expandedKeys">
                </kendo-treeview>
            </div>

        </div>

    </div>

    <div class="col-9">

        <div class="d-flex justify-content-between flex-basis">

            <button style="width: 150px;background-color: #007bff;color: #fff;" type="button" class="btn">Refresh 
            </button>
      
            <button style="width: 150px;background-color: #007bff;color: #fff;" type="button" class="btn">Tag Details 
            </button>

            <button style="width: 150px;background-color: #007bff;color: #fff;" type="button" class="btn">Add Sel To New FCR
            </button>
            <button style="width: 150px;background-color: #007bff;color: #fff;" type="button" class="btn">Mark Sel Complete
            </button>
            <button style="width: 150px;background-color: #007bff;color: #fff;" type="button" class="btn">Export
            </button>
            <button style="width: 150px;background-color: #007bff;color: #fff;" type="button" class="btn">Reset Grid
            </button> 
        </div>

        <app-cheetsheets-filter (submit)="onSubmit($event)"></app-cheetsheets-filter>
        <app-cheetsheets-grid></app-cheetsheets-grid>

    </div>

</div>