<div class="expendCollapse arrow_style">
    <div  class="filterheading">
        <button type="button" (click)="showHideFilter = !showHideFilter" class="btn-sm btn btn-secondary btn-block" style="margin-top: 5px;">
            {{showHideFilter ? "Hide Filter Section" : "Show Filter Section"}}</button>
    </div>
</div>

<div class="filterContainer" *ngIf="showHideFilter" style="font-size: 0.75rem;">

    <div class="d-flex flex-nowrap">

        <div class="d-flex flex-column mr-1 ml-1">

            <div style="width: 190px !important;">
                <label style="margin-bottom: 0px;margin-top: 5px;" for="formGroupExampleInput">PunchList Number:</label>
                <input type="text" id="formGroupExampleInput" placeholder="" [(ngModel)]="punchListNumber">
            </div>

            <div class="checkbox pt-3">
                <label><input type="checkbox" value=""> Include Descriptions
                </label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" value=""> Highlight expired est. completion date

                </label>
            </div>


        </div>

        <div class="d-flex flex-column mr-1">

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Unit:</label>
                <ng-multiselect-dropdown [data]="unitList" [(ngModel)]="unitSelectedList" [settings]="dropdownSettings"
                    (onSelect)="onUnitChange($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">System:</label>
                <ng-multiselect-dropdown [data]="systemList" [(ngModel)]="systemSelectedList"
                    [settings]="dropdownSettings" (onSelect)="onSystemChange($event)" (onDeSelect)="onSystemChange($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>


            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">SubSystem:</label>
                <ng-multiselect-dropdown [data]="subSystemList" [(ngModel)]="subSystemSelectedList"
                    [settings]="dropdownSettings" (onChange)="onSubSystemChange($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

        </div>

        <div class="d-flex flex-column mr-1">

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Location:</label>
                <ng-multiselect-dropdown [data]="locationList" [(ngModel)]="locationSelectedList"
                    [settings]="dropdownSettings" (onSelect)="onLocationChange($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Area:</label>
                <ng-multiselect-dropdown [data]="areaList" [(ngModel)]="areaSelectedList" [settings]="dropdownSettings"
                    (onSelect)="onAreaChange($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Sub Area:</label>
                <ng-multiselect-dropdown [data]="subAreaList" [(ngModel)]="subAreaSelectedList"
                    [settings]="dropdownSettings" (onSelect)="onSubAreaChange($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

        </div>

        <div class="d-flex flex-column mr-1">

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Category:</label>
                <ng-multiselect-dropdown [data]="categoryList" [(ngModel)]="categorySelectedList"
                    [settings]="dropdownSettings" (onSelect)="onCategoryChange($event)" 
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Defect Type:</label>
                <ng-multiselect-dropdown [data]="defectTypeList" [(ngModel)]="defectTypeSelectedList"
                    [settings]="dropdownSettings" (onSelect)="onDefectTypeChange($event)" 
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Priority:</label>
                <ng-multiselect-dropdown [data]="priorityList" [(ngModel)]="prioritySelectedList"
                    [settings]="dropdownSettings" (onSelect)="onPriorityChange($event)" 
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

        </div>

        <div class="d-flex flex-column mr-3">

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Discipline:</label>
                <ng-multiselect-dropdown [data]="disciplineList" [(ngModel)]="disciplineSelectedList"
                    [settings]="dropdownSettings" (onSelect)="onDisciplineChange($event)" 
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Responsible Group:</label>
                <ng-multiselect-dropdown [data]="responsibleGroupList" [(ngModel)]="responsibleGroupSelectedList"
                    [settings]="dropdownSettings" (onSelect)="onResponsibleGroupChange($event)" 
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div style="width: 190px !important">
                <label style="margin-bottom: 0px;margin-top: 5px;">Workpack Type:</label>
                <ng-multiselect-dropdown [data]="workpackTypeList" [(ngModel)]="workpackTypeSelectedList"
                    [settings]="dropdownSettings" (onSelect)="onWorkpackTypeChange($event)" 
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

        </div>

    </div>

    <div class="d-flex flex-nowrap">

        <div class="ml-1 mb-1">
            <button class="btn btn-success mr-1" style="width: 75px;height: 35px;" type="button"
                (click)="onSubmitFilter()">Submit</button>
            <button class="btn btn-success" style="width: 75px;height: 35px;" type="button"
                (click)="onResetFilter()">Reset</button>
        </div>

        <div class="checkbox ml-5">
            <label><input type="checkbox" value=""> Show Deleted</label>
        </div>

        <div class="checkbox ml-5">
            <label><input type="checkbox" value=""> Show Outstanding Only</label>
        </div>

    </div>

</div>