<div class="main">
  <h1 class="page-header" *ngIf="pageLoaded && editDetails"><span class="glyphicon glyphicon-edit ofis-core-pageheader-icon" style="color: #007bff"></span> Edit Unit:
    {{editDetails.id}}</h1>

  <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="serviceError">
    <button type="button" class="close" (click)="closeMsg('serviceError')"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  {{serviceError}}</div>

  <div *ngIf="editUnitForm">
    <div class="row">
      <div class="col-md-7">
        <form [formGroup]="editUnitForm" class="form-signup form-horizontal ofis-form">

          <div class="form-group required">
            <label for="id" class="col-md-4 control-label">Unit Reference</label>
            <div class="col-md-8">
              <input class="form-control" name="id" type="text" id="id"
                formControlName="id">
            </div>
          </div>

          <div class="form-group required">
            <label for="description" class="col-md-4 control-label">Unit Description</label>
            <div class="col-md-8">
              <input class="form-control" name="description" type="text" id="description"
                formControlName="description">
            </div>
          </div>

          <div class="form-group required">
            <label for="imported" class="col-md-4 control-label">Imported</label>
            <div class="col-md-8">
              <input checked="checked" formControlName="imported" name="imported" type="checkbox" id="imported">
            </div>
          </div>

          <div class="form-group required">
            <label for="verified" class="col-md-4 control-label">Verified</label>
            <div class="col-md-8">
              <input checked="checked" formControlName="verified" name="verified" type="checkbox" id="verified">
            </div>
          </div>

          <div class="form-group required">
            <label for="verifiedBy" class="col-md-4 control-label">Verified By</label>
            <div class="col-md-8">
              <input class="form-control" name="verifiedBy" type="text" id="verifiedBy"
                formControlName="verifiedBy">
            </div>
          </div>

          <div class="form-group required">
            <label for="verifiedResponsibleGroup" class="col-md-4 control-label">Verified Responsible Group</label>
            <div class="col-md-8">
              <input class="form-control" name="verifiedResponsibleGroup" type="text" id="verifiedResponsibleGroup"
                formControlName="verifiedResponsibleGroup">
            </div>
          </div>

          <div class="form-group required">
            <label for="verifiedAt" class="col-md-4 control-label">Verified At</label>
            <div class="col-md-8">
              <input class="form-control" name="verifiedAt" type="text" id="verifiedAt"
                formControlName="verifiedAt">
            </div>
          </div>

          <div class="form-group required">
            <label for="underMoC" class="col-md-4 control-label">Under MoC</label>
            <div class="col-md-8">
              <input checked="checked" formControlName="underMoC" name="underMoC" type="checkbox" id="underMoC">
            </div>
          </div>

          <div class="form-group required">
            <label for="preventAPC" class="col-md-4 control-label">Prevent Auto Population of Certificates</label>
            <div class="col-md-8">
              <input checked="checked" formControlName="preventAPC" name="preventAPC" type="checkbox" id="preventAPC">
            </div>
          </div>

          <div class="form-group required">
            <label for="unitC1" class="col-md-4 control-label">Unit C1</label>
            <div class="col-md-8">
              <input class="form-control" name="unitC1" type="text" id="unitC1"
                formControlName="unitC1">
            </div>
          </div>

          <div class="form-group">
            <div class="pull-right" style="margin-right: 14px;">
              <a (click)="navigateBack()" class="btn btn-default border">Cancel</a>
            </div>
            <div class="pull-right" style="padding-right: 10px;">
              <input class="btn btn-primary" type="submit" value="Edit Unit" (click)="editUnit()"
                [disabled]="editUnitForm.pristine">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>