<h6 style="color: #dc3545;margin: 12px -15px;font-size: 1.25rem">
    Tag Database
</h6>


<div class="row" style="margin: 6px -27px;font-size: 1.25rem">

    <div class="col-3">

        <div class="d-flex justify-content-between">

            <button type="button" class="btn btn-primary rounded-0">Expand
            </button>

            <button type="button" class="btn btn-primary rounded-0">Refresh
            </button>

            <button type="button" class="btn btn-primary rounded-0">Show Loc
            </button>

        </div>

        <div
            style="padding: 5px 24px;color: #fff;background-color: #007bff;display: block;margin-top: 5px;">
            <span class="vertical-line"></span>
            <span>Description</span>
        </div>

        <div style="overflow-y: scroll;">

            <div>
                <kendo-treeview [nodes]="data" textField="text" kendoTreeViewExpandable kendoTreeViewSelectable
                    kendoTreeViewHierarchyBinding childrenField="items" [(expandedKeys)]="expandedKeys">
                </kendo-treeview>
            </div>

        </div>

    </div>

    <div class="col-9">

        <div class="d-flex justify-content-start">
            <button type="button" class="btn btn-primary rounded-0 border-right">Refresh
            </button>
            <button type="button" class="btn btn-primary rounded-0 border-right">Add New 
            </button>
            <button type="button" class="btn btn-primary rounded-0 border-right">Details
            </button>
            <button type="button" class="btn btn-primary rounded-0 border-right">Delete
            </button>
            <button type="button" class="btn btn-primary rounded-0 border-right">Mark Verified
            </button>
            <button type="button" class="btn btn-primary rounded-0 border-right">Export
            </button>
         </div>

        <app-tag-database-filter></app-tag-database-filter>

        <app-tag-database-grid></app-tag-database-grid>

    </div>



</div>