<div class=" loginmain" *ngIf="pageLoaded">
    <h1 class="page-header" style="font-size: 3rem;">
      <span class="fa fa-home ofis-core-pageheader-icon" ></span>Welcome to YQMS</h1>
      <div class="alert alert-warning alert-dismissible" role="alert" [ngClass]="{'noDisplay':!operationStatus,'display':operationStatus}">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <p>{{message}}</p>																            
        </div>
    <div class="row">
          <div class="col-md-8">
              <div class="ofis-guest-hero">
                <img src="/assets/img/quality.jpg" class="img-responsive">
              </div>
            </div>
      <div class="col-md-4">
        <div class="ofis-guest-login-container" style="font-size: 1rem !important">
          <div class="ofis-guest-login-inner-container">
            <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm" method="POST"  accept-charset="UTF-8" class="form-signin ofis-guest-login-form">
              <input name="_token" type="hidden" value="qpxIEMLZjkIt9uEEI5QWzMAPotHGHsrUluCKaVVI">
              <h2 class="form-signin-heading">
                <span class="fa fa-user user-icon"></span>Login</h2>
  
              <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input style="font-size: 1rem !important" class="form-control" formControlName="email" placeholder="Email Address" name="email" type="email" autofocus="autofocus" id='email'>
              </div>
  
              <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input style="font-size: 1rem !important" class="form-control" formControlName="password" placeholder="Password" name="password" type="password" value="" id="password">
              </div>

              <div class="form-group">
                <label for="database" class="control-label">Database</label>
                <input style="font-size: 1rem !important" class="form-control" formControlName="database" placeholder="Database" name="database" type="text" value="" id="database">
              </div>


              <div class="form-group" style="margin-top: 30px;">
                <label>
                  <input style="font-size: 1rem !important" type="checkbox" formControlName="agreeTo" id="ofis-guest-policy-agreement"> I agree to the&nbsp;
                </label>
                <a class="ofis-privacy-policy-link" data-toggle="modal" data-target="#privacyPolicy">Privacy Policy</a>
              </div>
  
              <div class="form-group ofis-guest-submit">
                <input style="font-size: 1rem !important" type='submit' (onClick)="onSubmit" class="btn btn-lg btn-primary btn-block" id="ofis-guest-login-submit" value="LOGIN">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="font-size: 1.5rem;">
      <div class="col-md-12">
        <h2>A deep insight into our processes</h2>
        <p style="margin-top: 20px;">
          <strong>Inspects and approves deployed equipments by confirming specifications, conducting visual and measurement tests, and marking and tracking equipments not deployed propely.</strong>
        </p>
      </div>
    </div>
  
  </div>
  