.custom_orbit{
    height: 35vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.custom_orbit::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: lightgray; /* or add it to the track */
  }
.custom_orbit_child{
    overflow-x:auto;
}
.custom_breadcrumb{
    padding: .50rem 1rem;
}
.custom_orbit_head{
    padding:7px;
    background-color: lightgrey;
}
.card-heading span
{
    margin-top: -26px;
    font-size: 15px;
    margin-right: -12px;
}

.clickable {
    cursor: pointer;
}
