<div *ngIf="page === 'LoginPage'">
  <div class="px-5">
    <router-outlet></router-outlet>
  </div>
  
</div>

<div class="wrapper d-flex align-items-stretch" *ngIf="page === 'Other'">

  <nav id="sidebar" style="font-family: sans-serif;font-size: 11px;">
    <div class="custom-menu">
      <button
        type="button"
        id="sidebarCollapse"
        (click)="customToggle()"
        class="btn btn-primary"
      >
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="p-4">
      <ul class="list-unstyled components mb-5">

        <li class="nav-item custom_li">
          <a
            class="nav-link collapsed py-1"
            href="#submenu1sub1"
            data-toggle="collapse"
            data-target="#submenu1sub1"
            ><span>Overview</span></a
          >
          <div id="submenu1sub1" aria-expanded="false">
            <ul class="flex-column nav pl-4">
              <li class="nav-item">
                <a class="nav-link p-1" routerLink='/myyqms'>
                  <span class="glyphicon glyphicon-cloud">&nbsp;</span> My YQMS
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" routerLink='/dashboard'>
                  <span class="glyphicon glyphicon-stats">&nbsp;</span> Dashboard
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item custom_li">
          <a
            class="nav-link collapsed py-1"
            href="#submenu2sub2"
            data-toggle="collapse"
            data-target="#submenu2sub2"
            ><span>Database</span></a
          >
          <div id="submenu2sub2" aria-expanded="false">
            <ul class="flex-column nav pl-4">
              <li class="nav-item">
                <a class="nav-link p-1" routerLink='/tagdatabase'>
                  <span class="glyphicon glyphicon-credit-card">&nbsp;</span> Tag Database
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" routerLink='/workpacks'>
                  <span class="glyphicon glyphicon-floppy-open">&nbsp;</span> Workpacks (0)
                </a>
              </li>
            </ul>
          </div>
        </li>        

        <li class="nav-item custom_li">
          <a
            class="nav-link collapsed py-1"
            href="#submenu3sub3"
            data-toggle="collapse"
            data-target="#submenu3sub3"
            ><span>Outstanding</span></a
          >
          <div id="submenu3sub3" aria-expanded="false">
            <ul class="flex-column nav pl-4">
              <li class="nav-item">
                <a class="nav-link p-1" routerLink='/rfi'>
                  <span class="glyphicon glyphicon-transfer">&nbsp;</span> RFI (0)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" routerLink='/checksheet'>
                  <span class="glyphicon glyphicon-stats">&nbsp;</span> Checksheets (0)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" routerLink='/punchlists'>
                  <span class="glyphicon glyphicon-cloud-download">&nbsp;</span> Punchlists (0)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" href="#">
                  <span class="glyphicon glyphicon-level-up">&nbsp;</span> TQs (0)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" href="#">
                  <span class="glyphicon glyphicon-equalizer">&nbsp;</span> NCRs (0)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" href="#">
                  <span class="glyphicon glyphicon-erase">&nbsp;</span> FCRs (0)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" href="#">
                  <span class="glyphicon glyphicon-book">&nbsp;</span> Preservation (0)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-1" href="#">
                  <span class="glyphicon glyphicon-retweet">&nbsp;</span> Loop Tags (0)
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item custom_li">
          <a
            class="nav-link collapsed py-1"
            href="#submenu4sub4"
            data-toggle="collapse"
            data-target="#submenu4sub4"
            ><span>Certificates</span></a
          >
          <div id="submenu4sub4" aria-expanded="false">
            <ul class="flex-column nav pl-4">
              <li class="nav-item">
                <a class="nav-link p-1" href="#">
                  <span class="glyphicon glyphicon-hourglass">&nbsp;</span> Certificates (0)
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item custom_li">
          <a
            class="nav-link collapsed py-1"
            href="#submenu5sub5"
            data-toggle="collapse"
            data-target="#submenu5sub5"
            ><span>S-Curves & Charts</span></a
          >
          <div id="submenu5sub5" aria-expanded="false">
            <ul class="flex-column nav pl-4">
              <li class="nav-item">
                <a class="nav-link p-1" href="#">
                  <span class="glyphicon glyphicon-signal">&nbsp;</span> Skyline Chart (0)
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item custom_li">
          <a
            class="nav-link collapsed py-1"
            href="#submenu5sub5"
            data-toggle="collapse"
            data-target="#submenu5sub5"
            ><span>Project Info</span></a
          >
          <div id="submenu5sub5" aria-expanded="false">
            <ul class="flex-column nav pl-4">

              <li class="nav-item">
                <a class="nav-link p-1" routerLink='/admin'>
                  <span class="glyphicon glyphicon-cog">&nbsp;</span> Admin 
                </a>
              </li>

            </ul>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  <div id="content" class="p-4 p-md-5 pt-5">    
       
<!--         <div class="row" style="margin-top: -47px;">
    
            <button type="button" class="btn btn-secondary btn-space">My YQMS 
              <span style="font-size: 1rem">×</span>
            </button>
    
            <button type="button" class="btn btn-success btn-space">Outstanding Checksheets 
              <span style="font-size: 1rem">×</span>
            </button>
    
        </div>   -->

        <router-outlet></router-outlet>
        
  </div>
  
</div> 

