<div class="main">
    <h1 class="page-header" *ngIf="pageLoaded && editDetails"><span class="glyphicon glyphicon-edit ofis-core-pageheader-icon" style="color: #007bff"></span> Edit Type:
      {{editDetails.id}}</h1>
  
    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="serviceError">
      <button type="button" class="close" (click)="closeMsg('serviceError')"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    {{serviceError}}</div>
  
    <div class="alert alert-danger alert-dismissible" role="alert"
      *ngIf="addQuestionForm && addQuestionForm.invalid && questionValidationFlag">
      <button type="button" class="close" (click)="closeMsg(null)"><span aria-hidden="true">×</span><span
          class="sr-only">Close</span></button>
      <p>The following errors occurred:</p>
      <ul>
        <li *ngIf="addQuestionForm.get('question').hasError('required')">The question field is required.</li>
        <li *ngIf="addQuestionForm.get('question').hasError('whiteSpace')">Whitespace not allowed in question field.</li>
        <li *ngIf="addQuestionForm.get('position').hasError('required')">The position field is required.</li>
        <li *ngIf="addQuestionForm.get('display_conf').hasError('required')">The display configuration field is required.
        </li>
  
        <li *ngIf="addQuestionForm.get('question').value && addQuestionForm.get('question').hasError('minlength')">The
          question field must be at least 2 characters.</li>
        <li *ngIf="addQuestionForm.get('position').hasError('numberError')">The position must be an integer.</li>  
      
      </ul>
  
    </div>
  
    <div *ngIf="editTypeForm">
      <div class="row">
        <div class="col-md-7">
          <form [formGroup]="editTypeForm" class="form-signup form-horizontal ofis-form">
  
            <div class="form-group required">
              <label for="id" class="col-md-4 control-label">Type Reference</label>
              <div class="col-md-8">
                <input class="form-control" name="id" type="text" id="id"
                  formControlName="id">
              </div>
            </div>
  
            <div class="form-group required">
              <label for="description" class="col-md-4 control-label">Type Description</label>
              <div class="col-md-8">
                <input class="form-control" name="description" type="text" id="description"
                  formControlName="description">
              </div>
            </div>
  
            <div class="form-group">
              <div class="pull-right" style="margin-right: 14px;">
                <a (click)="navigateBack()" class="btn btn-default border">Cancel</a>
              </div>
              <div class="pull-right" style="padding-right: 10px;">
                <input class="btn btn-primary" type="submit" value="Edit Type" (click)="editType()"
                  [disabled]="editTypeForm.pristine">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
