<div class="modal-header">

    PunchList for {{description}}

    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">

        <span aria-hidden="true">&times;</span>

    </button>

</div>

<div class="modal-body" style="width: 100%;">

    <div class="row">

        <div class="col-12">

            <table class="table table-bordered">
                <thead style="line-height: 1rem;">
                    <tr style="background-color: #007bff;color:#fff;font-size: 0.75rem;">
                        <th scope="col" style="font-weight: normal;">Item No</th>
                        <th colspan="8" style="font-weight: normal;" scope="col">Description of Punch Item</th>
                        <th scope="col" style="font-weight: normal;">Punchlist Type Code</th>
                        <th scope="col" style="font-weight: normal;">Category (A/B/C) </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container [formGroup]="punchListForm" (ngSubmit)="savePunchList()">
                        <ng-container formArrayName="punchListArray">
                            <ng-container *ngFor="let punch of punchListArray.controls;let i=index">
                                <tr [formGroupName]="i" style="font-size: 0.75rem;">
                                    <td scope="row"> {{i+1}}</td>
                                    <td colspan="8">
                                        <input style="height: 24px; width: 100%;
                                        padding:1px;font-size: 0.75rem;border: none;" type="text" id="description"
                                            name="description" formControlName="description">
                                    </td>
                                    <td>
                                        <input style="height: 24px; width: 100%;
                                        padding:1px;font-size: 0.75rem;" type="text" id="typeCode" name="typeCode"
                                            formControlName="typeCode">
                                    </td>
                                    <td>
                                        <select name="category" id="category" formControlName="category" style="height: 24px; width: 100%;
                                        padding:1px;font-size: 0.75rem;">
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>

    <div class="ibox-row-padding">

        <hr class="hr-line" />

    </div>

    <div class="row">

        <div class="col-sm-6 m-b-xs">

            <button type="button" class="btn btn-primary btn-block"
                (click)="savePunchList()">{{ 'Save' | translate }}</button>

        </div>

        <div class="col-sm-6">

            <button class="btn btn-dark btn-block" type="button" (click)="close()">{{ 'Cancel' | translate }}</button>

        </div>

    </div>

</div>